

<div class="mb-2 text-sm font-bold leading-5 text-center text-gray-800 uppercase">
<h1>This is account delete</h1>
<h2>Type your email and password to confirm account deletion</h2>

</div>

<form method="post">
     <label for="fname" class="text-gray-900">Email</label><br>
  <input class="formElement" type="email" id="email" name="email"><br>
  <label  for="password" class="text-gray-900">Password</label><br>
  <input class="formElement" type="password" id="password" name="password" placeholder="******"><br>
  <button class="warningBtn"
 type="submit">Delete Forever</button>
   <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>



{{#if hasPwErrors}}
<div class="flex flex-col justify-center mt-12">
  <ul class="errorEl">
    <li>{{errors}}</li>
{{/if}}


{{#if hasUserErrors}}
 <div class="flex flex-col justify-center mt-12">
  <ul class="errorEl">
    <li>{{errors}}</li>
{{/if}}
  </ul>
</div>

