  <div class="mt-8">
                    <div
                        class="text-lg font-semibold tracking-wider text-center text-transparent uppercase transition duration-500 bg-clip-text bg-gradient-to-r from-blue-700 to-blue-900 hover:text-indigo-700 md:max-w-3xl"
                    >
                        We strongly believe that as part of the package for
                        corona recovery, public transport should be free for an
                        entire year
                    </div>
<div class="flex justify-center mt-6">
{{#if loggedIn}}
    <a href="/signers">Click to see our members or sign the petition if you havent already signed</a>
{{/if}}

{{#if loggedOut}}
    <a class="px-4 py-2 font-semibold tracking-wider text-gray-300 uppercase transition duration-500 bg-indigo-800 rounded-md shadow-xl hover:text-gray-400 hover:shadow-inner hover:bg-indigo-700" href="/register"
                        >Register to sign our petition</a>
{{/if}}


                    </div>
                </div>



            </div>
            <img
                class="w-full p-3 mx-auto bg-fixed md:w-3/5 lg:w-4/5 "
                src="/Illustration.svg"
                alt="illustration background"
            />
