<form method="post" id="form">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="firstName"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lastName">
  <label for="lname">Signature</label><br>
  <canvas style="background-color: blue" id="myPics" width="200" height="100"></canvas>
  <input type="hidden" id="signature" name="signature" value="">
  <button id="sendBtn" type="submit">click to submit</button>
</form>
<button id="clearBtn">Click to clear</button>