
<div class="mb-2 text-sm font-bold leading-5 text-center text-gray-800 uppercase">
  <h1>THANK YOU Once again for joining our cause</h1>
  <p>You joined a total of {{total}} people fighting for change</p>
  <div>Click the city to view people from that location</div>
  <div>If They decided to leave a link you can click their name to see it</div>
</div>





{{#if hasDBErrors}}
</div>
 <div class="flex flex-col items-center justify-center mt-12">
  <ul class="errorEl">
    <li>{{errors}}</li>
{{/if}}
  </ul>
</div>

